nav(class='navbar navbar-expand-sm navbar-dark bg-dark shadow p-3')
  a(href="/contents/v1" class='navbar-brand font-weight-bold')= appName

  //- toggler
  button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle Navigation')
    span(class='navbar-toggler-icon')
  div(class='collapse navbar-collapse justify-content-end' id='navbar')
    a(href="/contents/v1/new-resource" class='nav-link btn btn-outline-light my-3 my-sm-0') Start sharing
    a(href="/contents/v1/all-resource" class='nav-link btn btn-light ml-sm-3 my-3 my-sm-0') All resources
